<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leegop.samewave.mapper.UserMapper">

    <sql id="baseColumns">
        id, username, password, nickname, avatar, email, phone, gender,
        bio, status, follow_count, fans_count, last_login_at,
        create_time, update_time, deleted
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (username, password, nickname)
        VALUES (#{username}, #{password}, #{nickname})
    </insert>

    <select id="selectByUsername" resultType="User">
        SELECT <include refid="baseColumns"/>
        FROM `user`
        WHERE username = #{username}
    </select>

    <select id="selectById" resultType="User">
        SELECT <include refid="baseColumns"/>
        FROM `user`
        WHERE id = #{id}
    </select>

    <update id="updateLastLoginTime">
        UPDATE `user` SET last_login_at = NOW() WHERE id = #{id}
    </update>
</mapper>